<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <table border="1">
      <tr>
        <th>ID</th>
        <th>URL</th>
        <th>Short URL</th>
        <th>Click Count</th>
      </tr>
      <% for(let i = 0; i < urls.length; i++){ %>
      <tr>
        <td><%= urls[i].id %></td>
        <td><%= urls[i].url %></td>
        <td><a href="/<%= urls[i].short_url %>" target="_blank"><%= urls[i].short_url %></a></td>
        <td><%= urls[i].count_url %></td>
      <tr>
      <% } %>
    </table>
      <br><br>
      <form action="/create" method="post">
        URL   :
        <input type="text" name="url"><br><br>
        <input type="submit" value="Submit">
      </form>
  </body>
</html>
